Classroom Info
<%= render partial: 'classroom', locals: {classroom: @classroom} %>

Students
<% @classroom.students.each do |student|%>
<p>
<%= render partial: "students/student", locals: {student: student} %>
</p>
<% end %>