<ul>
  <li>
    Name: <%= classroom_students.name %>
  </li>
  <li>
    Birthday: <%= classroom_students.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= classroom_students.hometown.capitalize %>
  </li>
</ul>
